/User/__pycache__/*
/CS/__pycache__/*
User/planes/v1.0
User/planes/electricplane.jpg
User/planes/JPEG
User/planes/70203
User/pdf/RFC_793.pdf
User/smallfiles/small_16.txt
User/smallfiles/small_09.txt
User/smallfiles/190
User/smallfiles/106
User/smallfiles/07.10.2018
User/smallfiles/0123456789
