/User/__pycache__/*
/CS/__pycache__/*
User/planes/v1.0
User/planes/electricplane.jpg
User/planes/JPEG
User/planes/70203
User/pdf/RFC_793.pdf
User/smallfiles/small_16.txt
User/smallfiles/small_09.txt
User/smallfiles/190
User/smallfiles/106
User/smallfiles/07.10.2018
User/smallfiles/0123456789
User/planes/4
User/pdf/1
User/boats/Falmouth.jpg
User/boats/4
CS/user_99999.txt
BS/__pycache__/BSFunctions.cpython-35.pyc
User/planes/teste2.txt
User/planes/teste.txt
CS/user_86408.txt
CS/backupServers.txt
CS/user_99999/smallfiles/IP_port.txt
CS/user_99999/planes/IP_port.txt
CS/user_99999/BS_Register.txt
BS/user_99999/planes/white-plane-sky.jpg
BS/user_99999/planes/emirates.png
BS/user_99999/planes/electricplane.jpg
BS/user_99999/planes/airbus-321-neo.jpg
BS/user_99999.txt.txt
BS/__pycache__/BSUserFunctions.cpython-35.pyc
BS/__pycache__/BSCSFunctions.cpython-35.pyc
BS/__pycache__/BSBaseFunctions.cpython-35.pyc
User/planes/white-plane-sky.jpg
User/planes/emirates.png
User/planes/airbus-321-neo.jpg
CS/user_12345/planes/IP_port.txt
CS/user_12345/BS_Register.txt
CS/user_12345.txt
BS/user_12345/planes/white-plane-sky.jpg
BS/user_12345/planes/emirates.png
BS/user_12345/planes/electricplane.jpg
BS/user_12345/planes/airbus-321-neo.jpg
BS/user_12345.txt
